/* 1.0 Base Settings
--------------------------------------------------*/
html, 
body {
  background-color: rgba(242, 242, 242, 1);
  }

body {
  font-size: 14px;
  font-weight: normal;
  font-family: "PT Sans", "Arial", "Trebuchet MS", sans-serif;
  line-height: 21px;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 1);
  }

.shadow-wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  width: 1200px;

  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  }

.container {
  box-sizing: border-box;
  width: 100%;
  }

/* Links */
a {
  text-decoration: none;
  }

/* Buttons */
.button {
  font-size: inherit;
  font-weight: bold;
  font-family: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);

  background-color: rgba(129, 179, 210, 1);
  border: 0;
  }

.button:hover, 
.button:focus {
  background-color: rgba(102, 158, 192, 1);
  }

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(84, 150, 189, 1);
  }

/* Main navigation */
.main-header .container {
  position: relative;
  padding-right: 72px;
  padding-left: 72px;
  }

.main-header-logo {
  display: block;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 50%;
  margin-left: -69px;
  }

.main-navigation {
  font-weight: bold;
  line-height: 26px;
  color: rgba(0, 0, 0, 1);

  background-color: rgba(255, 255, 255, 1);
  }

.site-navigation {
  display: flex;
  height: 56px;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  }

.site-navigation li {
  width: 240px;
  }

.site-navigation li:nth-child(2) {
  margin-right: auto;
  }

.site-navigation li:nth-child(3), 
.site-navigation li:nth-child(4) {
  text-align: right;
  }

.site-navigation a {
  color: rgba(0, 0, 0, 1);
  }

.site-navigation a:hover,
.site-navigation a:focus {
  color: rgba(129, 179, 210, 1);
  }

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
  }

.site-navigation-current a,
.site-navigation-current a:hover,
.site-navigation-current a:focus,
.site-navigation-current a:active {
  color: rgba(118, 99, 87, 1);
  }

/* Main */
.welcome-image {
  margin: 0 0 60px 0;

  text-align: center;
  }

.welcome-text {
  margin: 0 0 34px 0;

  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  }

/* Features */
.features {
  margin-bottom: 55px;
  }

.features-text {
  margin: 0 0 54px 0;

  line-height: 26px;
  text-align: center;
  }

.features-list, 
.services-list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  }

.features-list {
  flex-wrap: wrap;
  }

.feature-item {
  width: 400px;

  text-align: center;

  background-color: rgba(238, 238, 238, 1);
  }

.service-item {
  width: 256px;
  padding: 50px 72px;
  }

.service-item::before {
  content: "";
  display: block;
  margin: 0 auto 30px auto;
  width: 75px;
  height: 72px;
  outline: 1px dashed aquamarine;
  }

.feature-item h3, 
.service-item h3 {
  margin: 0;

  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  color: rgba(0, 0, 0, 1);
  }

.feature-item-wrapper {
  padding: 50px 72px;
  height: 156px;

  color: rgba(255, 255, 255, 1);

  background-color: rgba(129, 179, 210, 1);
  }

.feature-item-wrapper h3 {
  color: rgba(255, 255, 255, 1);
  }

.feature-item:nth-child(2), 
.feature-item:nth-child(5) {
  width: 800px;
  }

.feature-item:nth-child(3) {
  width: 1200px;
  }

.feature-item:nth-child(6), 
.feature-item:nth-child(7), 
.feature-item:nth-child(8) {
  width: 256px;
  padding: 50px 72px;
  }

/* Search */
.search h3 {
  margin: 0 0 25px 0;

  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  }

.search-text {
  margin: 0 0 50px 0;

  line-height: 24px;
  text-align: center;
  }

.modal-button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 568px;
  padding-top: 31px;
  padding-bottom: 31px;

  font-size: 21px;
  line-height: 26px;

  background-color: rgba(118, 99, 87, 1);
  }

.modal-button:hover,
.modal-button:focus {
  background-color: rgba(96, 78, 67, 1);
  }

.modal-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: rgba(80, 62, 51, 1);  
  }

.modal {
  box-sizing: border-box;
  margin: 0 auto;
  width: 568px;
  padding: 55px;
/*position: absolute;*/

  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.15);
  }

.search-item {
  margin: 0 0 30px 0;
  }

.search-item label {
  font-weight: bold;
  line-height: 26px;
  color: rgba(0, 0, 0, 1);
  }

.search-item input {
  font-size: inherit;
  font-weight: bold;
  font-family: inherit;
  line-height: 26px;
  text-transform: inherit;
  color: rgba(0, 0, 0, 1);

  background-color: rgba(242, 242, 242, 1);
  border-width: 2px;
  border-style: solid;
  border-color: rgba(229, 229, 229, 0);
  }

.search-item input:hover {
  background-color: rgba(235, 235, 235, 1);
  }

.search-item input:focus {
  background-color: rgba(255, 255, 255, 1);
  border-color: rgba(229, 229, 229, 1);
  }

.calendar,
.crease {
  line-height: 26px;
  vertical-align: middle;
  color: rgba(202, 202, 202, 1);

  border: 0;
  cursor: pointer;
  }

.calendar {
  background: none;
  }

.crease {
  background-color: rgba(242, 242, 242, 1);
  }

.calendar:hover,
.calendar:focus,
.crease:hover,
.crease:focus {
  color: rgba(0, 0, 0, 1);
  }

.calendar:active,
.crease:active {
  color: rgba(129, 179, 210, 1);
  }

.search-button {
  display: block;
  margin-top: 55px;
  width: 100%;
  padding-top: 17px;
  padding-bottom: 17px;

  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  }

/* Map */
.map {
  text-align: center;
  }

/* Filters */
.filters .container {
  padding: 30px 72px;

  background-color: rgba(76, 86, 93, 1);
  background-image: url("../img/top-pic-hotels.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  }

.filters {
  color: rgba(255, 255, 255, 1);
  }

.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  }

.filter fieldset {
  width: 240px;
  padding: 0;
  border: 0;
  }

.filter fieldset:nth-child(3) {
  width: 336px;
  margin-left: 230px;
  }

.filter legend {
  font-size: 16px;
  font-weight: bold;
  }

.filter ul {
  margin: 0;
  padding: 0;
  list-style: none;
  }

.filter-input:hover + label,
.filter-input:focus + label {
  color: rgba(255, 255, 255, 1);
  outline: 2px solid rgba(255, 215, 0, 0.3);
  }

.filter-input:disabled + label {
  color: rgba(106, 106, 106, 1);
  }

.filter-output {
  border-width: 2px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 1);
  border-radius: 3px;
  }

.filter-output input[type="text"] {
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  text-transform: inherit;
  text-align: center;
  color: rgba(255, 255, 255, 1);

  background-color: rgba(255, 255, 255, 0);
  border: 0;
  }

.filter-marker, 
.filter-range {
  display: inline-block;
  }

.filter-marker {
  cursor: pointer;
  }

.filter-button {
  margin-right: 95px;

  font-weight: normal;

  background-color: rgba(255, 255, 255, 0);
  border-width: 2px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 1);
  border-radius: 3px;
  }

.filter-button:hover,
.filter-button:focus,
.filter-button:active {
  color: rgba(0, 0, 0, 1);

  background-color: rgba(255, 255, 255, 1);
  }

/* Sorting */
.sorting {
  padding-right: 72px;
  padding-left: 72px;
  display: flex;
  align-items: center;
  }

.results-of-search {
  width: 135px;
  margin-right: 30px;

  font-size: 21px;
  line-height: 26px;
  color: rgba(0, 0, 0, 1);
  }

.catalog h3 {
  margin-right: 40px;
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;

  color: rgba(0, 0, 0, 1);
  }

.sorting-type, 
.sorting-degree {
  margin: 0;
  padding: 0;
  list-style: none;

  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  }

.sorting-degree {
  margin-left: auto;
  }

.sorting-type-item, 
.sorting-degree-item {
  display: inline-block;
  }

.sorting-type-item {
  margin-right: 30px;
  }

.sorting-degree-item:first-child {
  margin-right: 10px;
  }

.sorting-type-item a {
  color: rgba(0, 0, 0, 0.3);

  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: rgba(129, 179, 210, 1);
  }

.sorting-type-item a:hover, 
.sorting-type-item a:focus {
  color: rgba(129, 179, 210, 1);
  }

.sorting-type-item a:active {
  color: rgba(0, 0, 0, 1);

  border-bottom-width: 0;
  }

.sorting-type-item-current a,
.sorting-type-item-current a:hover {
  color: rgba(129, 179, 210, 1);
  border-bottom-width: 0;
  }

.sorting-degree-item a {
  color: rgba(0, 0, 0, 0.3);
  }

.sorting-degree-item a:hover,
.sorting-degree-item a:focus {
  color: rgba(0, 0, 0, 1);
  }

.sorting-degree-item a:active,
.sorting-degree-item-current a,
.sorting-degree-item-current a:hover {
  color: rgba(129, 179, 210, 1);
  }

/* Catalog */
.catalog-list {
  margin: 0;
  padding: 0;
  list-style: none;
  }

.catalog-item {
  display: flex;
  align-items: center;
  padding: 30px 72px;

  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(229, 229, 229, 1);
  }

.catalog-item:last-child {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(229, 229, 229, 1);
  }

.catalog-item-img {
  order: -1;
  margin: 0 30px 0 0;
  }

.catalog-item h4 {
  margin: 0;
  font-size: 21px;
  line-height: 26px;

  color: rgba(0, 0, 0, 1);
  }

.catalog-item h4 a {
  color: rgba(0, 0, 0, 1);
  }

.catalog-item h4 a:hover,
.catalog-item h4 a:focus {
  color: rgba(129, 179, 210, 1);
  }

.catalog-item h4 a:active {
  color: rgba(0, 0, 0, 0.3);    
  }

.button-reserve {
  background-color: rgba(118, 99, 87, 1);
  }

.button-reserve:hover,
.button-reserve:focus {
  background-color: rgba(96, 78, 67, 1);  
  }

.button-reserve:active {
  background-color: rgba(80, 62, 51, 1);  
  }

.catalog-item-rate {
  margin-left: auto;
  text-align: right;

  background-color: rgba(242, 242, 242, 1);
  }

/* Footer */
.main-footer {
  color: rgba(0, 0, 0, 1);  
  }

.main-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 72px;
  }

.footer-contacts,
.footer-social,
.footer-copyright {
  margin: 0;
  width: 240px;

  text-align: center;
  }

.footer-contacts {
  font-size: 21px;
  line-height: 26px;
  }

.footer-social {
  padding: 0;
  list-style: none;
  }

.social-button {
  color: rgba(255, 255, 255, 1);

  background-color: rgba(129, 179, 210, 1);
  }

.social-button:hover,
.social-button:focus {
  background-color: rgba(102, 158, 192, 1);
  }

.social-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: rgba(84, 150, 189, 1);
  }

.footer-copyright a {
  color: rgba(35, 31, 32, 1);
  }

.footer-copyright a:hover,
.footer-copyright a:focus {
  color: rgba(129, 179, 210, 1);
  }

.footer-copyright a:active {
  color: rgba(189, 187, 188, 1);
  }

.footer-copyright img {
  vertical-align: middle;
  }

/*---------- 2.0 Visually hidden objects ----------*/
/*.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  }*/
