html, 
body {
  background-color: rgba(242, 242, 242, 1);
  }

body {
  min-width: 1200px;

  font-size: 14px;
  font-weight: normal;
  font-family: "PT Sans", "Arial", "Trebuchet MS", sans-serif;
  line-height: 21px;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 1);
  }

.shadow-wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  width: 1200px;

  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  }

.container {
  box-sizing: border-box;
  width: 100%;
  }

a {
  text-decoration: none;
  }

.button {
  font-size: inherit;
  font-weight: bold;
  font-family: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);

  background-color: rgba(129, 179, 210, 1);
  border: 0;
  }

.button:hover, 
.button:focus {
  background-color: rgba(102, 158, 192, 1);
  }

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(84, 150, 189, 1);
  }

.main-header .container {
  position: relative;
  padding-right: 72px;
  padding-left: 72px;
  }

.main-header-logo {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 50%;

  width: 138px;
  height: 70px;
  margin-left: -69px;
  }

.main-header-logo:active {
  outline: 1px dotted rgba(0, 0, 0, 1);
  }

.main-navigation {
  font-weight: bold;
  line-height: 26px;
  color: rgba(0, 0, 0, 1);

  background-color: rgba(255, 255, 255, 1);
  }

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: 0;
  padding: 0;
  list-style: none;
  }

.site-navigation li {
  width: 240px;
  padding: 15px 0;
  }

.site-navigation li:nth-child(4n-1) {
  margin-left: auto;
  }

.site-navigation li:nth-child(4n-1), 
.site-navigation li:nth-child(4n) {
  text-align: right;
  }

.site-navigation a {
  color: rgba(0, 0, 0, 1);
  }

.site-navigation a:hover,
.site-navigation a:focus {
  color: rgba(129, 179, 210, 1);
  }

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
  outline: none;
  }

.site-navigation-current a,
.site-navigation-current a:hover,
.site-navigation-current a:focus,
.site-navigation-current a:active {
  color: rgba(118, 99, 87, 1);
  }

.welcome-image {
  margin: 0 0 60px 0;

  text-align: center;
  }

.welcome-text {
  margin: 0 0 28px 0;

  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  }

.features {
  margin-bottom: 50px;
  }

.features-text {
  margin: 0 0 50px 0;

  line-height: 26px;
  text-align: center;
  }

.features-list, 
.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: 0;
  padding: 0;
  list-style: none;
  }

.features-list {
  background-color: rgba(238, 238, 238, 1);
  }

.services-list {
  background-color: rgba(255, 255, 255, 1);
  }

.feature-item, 
.service-item {
  width: 400px;
  box-sizing: border-box;

  text-align: center;

  overflow: hidden;
  }

.feature-item:nth-child(n+6) {
  padding: 46px 48px 34px 48px;
  }

.service-item {
  position: relative;
  padding: 160px 50px 60px 50px;
  }

.service-item::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 50%;
  margin-left: -38px;
  width: 76px;
  height: 76px;

  background-position: 50% 50%;
  background-repeat: no-repeat;
  }

.service-item.housing::before {
  background-image: url("../img/icon-1.svg");
  }

.service-item.food::before {
  background-image: url("../img/icon-2.svg");
  }

.service-item.souvenirs::before {
  background-image: url("../img/icon-3.svg");
  }

.feature-item h3, 
.service-item h3 {
  margin: 0 0 24px 0;

  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  color: rgba(0, 0, 0, 1);
  }

.feature-item p {
  margin: 0 0 24px 0;
  }

.feature-item-wrapper {
  box-sizing: border-box;
  height: 256px;
  padding: 45px 48px;

  color: rgba(255, 255, 255, 1);

  background-color: rgba(129, 179, 210, 1);
  }

.feature-item-wrapper h3 {
  color: rgba(255, 255, 255, 1);
  }

.feature-item:nth-child(2), 
.feature-item:nth-child(4) {
  width: 800px;
  }

.feature-item:nth-child(3) {
  width: 1200px;
  }

.search {
  position: relative;
  }

.search h3 {
  margin: 0 0 24px 0;

  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  }

.search-text {
  margin: 0 0 46px 0;

  line-height: 24px;
  text-align: center;
  }

.modal-button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 568px;
  padding: 30px 0;

  font-size: 21px;
  line-height: 26px;

  background-color: rgba(118, 99, 87, 1);
  }

.modal-button:hover,
.modal-button:focus {
  background-color: rgba(96, 78, 67, 1);
  }

.modal-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: rgba(80, 62, 51, 1);  
  }

.modal {
  position: absolute;
  left: 50%;
  margin-left: -284px;

  box-sizing: border-box;
  width: 568px;
  padding: 55px;

  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.15);
  }

.search-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0 0 30px 0;
  }

.search-item label {
  font-weight: bold;
  line-height: 26px;
  color: rgba(0, 0, 0, 1);
  }

.search-item label[for="children-field"] {
  margin-left: auto;
  }

.search-item input {
  box-sizing: border-box;
  margin-left: auto;
  width: 346px;
  height: 38px;
  padding: 4px 12px;

  font-size: inherit;
  font-weight: bold;
  font-family: inherit;
  line-height: 26px;
  text-transform: inherit;
  color: rgba(0, 0, 0, 1);

  background-color: rgba(242, 242, 242, 1);
  border-width: 2px;
  border-style: solid;
  border-color: rgba(229, 229, 229, 0);
  }

.search-item input:hover {
  background-color: rgba(235, 235, 235, 1);
  }

.search-item input:focus {
  background-color: rgba(255, 255, 255, 1);
  border-color: rgba(229, 229, 229, 1);
  outline: none;
  }

.search-item input[name="adults"],
.search-item input[name="children"] {
  width: 38px;
  margin-left: 0;
  margin-right: 0;

  text-align: center;
  }

.calendar,
.crease {
  color: rgba(202, 202, 202, 1);

  border: 0;
  cursor: pointer;
  }

.calendar {
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -12px;
  width: 21px;
  height: 21px;
  background: none;
  }

.crease {
  width: 38px;
  height: 38px;

  background-color: rgba(242, 242, 242, 1);
  border-width: 2px;
  border-style: solid;
  border-color: rgba(242, 242, 242, 1);
  }

.crease.min {
  margin-left: auto;
  }

.calendar:hover,
.calendar:focus,
.crease:hover,
.crease:focus {
  color: rgba(0, 0, 0, 1);
  }

.calendar:active,
.crease:active {
  color: rgba(129, 179, 210, 1);
  }

.search-button {
  display: inline-block;
  margin-top: 22px;
  width: 100%;
  padding-top: 17px;
  padding-bottom: 16px;

  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  vertical-align: middle;
  }

.map {
  text-align: center;
  }

.filters .container {
  margin-bottom: 22px;
  padding: 27px 72px 8px 72px;

  background-color: rgba(90, 132, 169, 1);
  background-image: url("../img/filters-hotels.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  }

.filter {
  display: flex;
  flex-wrap: wrap;
  }

.filter fieldset {
  margin: 0;
  width: 240px;
  padding: 0;
  border: 0;
  }

.filter fieldset:nth-child(2) {
  margin-left: 15px;
  }

.filter fieldset:last-child {
  width: 318px;
  margin-left: auto;
  }

.filter legend {
  font-size: 16px;
  font-weight: bold;

  color: rgba(255, 255, 255, 1);
  }

.filter ul {
  margin: 0;
  padding: 0;
  list-style: none;
  }

.filter-option {
  margin: 24px 0 25px 0;
  }

.filter-checkbox {
  position: relative;
  padding: 2px 0 2px 40px;

  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  }

.filter-checkbox:hover,
.filter-checkbox:focus {
  color: rgba(255, 255, 255, 1);
  }

.checkbox-indicator {
  position: absolute;
  top: 0;
  left: 0;

  box-sizing: border-box;
  width: 23px;
  height: 23px;

  border-width: 2px;
  border-style: solid;
  border-color: currentColor;
  border-radius: 2px;
  }

input[type="checkbox"]:focus + .filter-checkbox {
  outline: 2px solid rgba(255, 215, 0, 0.3);
  }

input[type="checkbox"]:checked + .filter-checkbox::before, 
input[type="checkbox"]:checked + .filter-checkbox::after {
  content: "";
  position: absolute;
  height: 4px;

  background-color: currentColor;
  }

input[type="checkbox"]:checked + .filter-checkbox::before {
  top: 10px;
  left: 4px;
  transform: rotate(45deg);
  width: 12px;
  }

input[type="checkbox"]:checked + .filter-checkbox::after {
  top: 7px;
  left: 9px;
  transform: rotate(-45deg);
  width: 20px;
  }

input[type="checkbox"]:disabled + .filter-checkbox {
  color: currentColor;
  outline: none;
  cursor: default;
  }

.filter-range {
  width: 318px;
  margin-top: 9px;
  }

.price-fields {
  position: relative;
  height: 34px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid rgba(255, 255, 255, 1);
  border-radius: 2px;
  }

.price-fields::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background-color: rgba(255, 255, 255, 1);
  transform: translate(-50%, -50%);
  }

.price-fields label {
  display: inline-block;

  font-size: 14px;
  font-family: inherit;
  line-height: 34px;
  vertical-align: top;

  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  }

.price-fields .min-price, 
.price-fields .max-price {
  box-sizing: border-box;
  width: 50%;
  padding-left: 60px;
  }

.price-fields input {
  margin: 0 0 0 5px;
  width: 50px;

  color: inherit;
  font-family: inherit;

  background: none;
  border: 0;
  }

.range-controls {
  position: relative;
  margin-bottom: 32px;
  }

.range-scale {
  height: 2px;

  background-color: rgba(255, 255, 255, 0.3);
  }

.range-bar {
  width: 80%;
  height: 2px;

  background-color: rgba(255, 255, 255, 1);
  }

.range-marker {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background-color: rgba(171, 171, 171, 1);
  border: 8px solid rgba(255, 255, 255, 1);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
  }

.range-marker-min {
  left: 0;
  }

.range-marker-max {
  left: 80%;
  }

.range-marker:hover {
  transform: scale(1.1);
  }

.filter-button {
  display: block;
  margin: 0 96px 0 auto;
  padding: 7px 34px;

  font-weight: normal;

  background-color: rgba(255, 255, 255, 0);
  border-width: 2px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 1);
  border-radius: 2px;
  }

.filter-button:hover,
.filter-button:focus,
.filter-button:active {
  color: rgba(0, 0, 0, 1);

  background-color: rgba(255, 255, 255, 1);
  }

.sorting {
  margin: 0 0 20px 0;
  padding-right: 72px;
  padding-left: 72px;
  display: flex;
  align-items: center;
  }

.results-of-search {
  width: 135px;
  margin-right: 30px;

  font-size: 21px;
  line-height: 26px;
  color: rgba(0, 0, 0, 1);
  }

.sorting h3 {
  margin-right: 40px;
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;

  color: rgba(0, 0, 0, 1);
  }

.sorting-type, 
.sorting-degree {
  margin: 0;
  padding: 0;
  list-style: none;

  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  }

.sorting-degree {
  margin-left: auto;
  }

.sorting-type-item, 
.sorting-degree-item {
  display: inline-block;
  vertical-align: middle;
  }

.sorting-type-item {
  margin-right: 30px;
  }

.sorting-degree-item:first-child {
  margin-right: 10px;
  }

.sorting-type-item a {
  color: rgba(0, 0, 0, 0.3);

  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: rgba(129, 179, 210, 1);
  }

.sorting-type-item a:hover, 
.sorting-type-item a:focus {
  color: rgba(129, 179, 210, 1);
  }

.sorting-type-item a:active {
  color: rgba(0, 0, 0, 1);

  border-bottom-width: 0;
  }

.sorting-type-item-current a,
.sorting-type-item-current a:hover {
  color: rgba(129, 179, 210, 1);
  border-bottom-width: 0;
  }

.arrow-top svg {
  transform: rotate(180deg);
  }

.sorting-degree-item a {
  color: rgba(0, 0, 0, 0.3);
  }

.sorting-degree-item a:hover,
.sorting-degree-item a:focus {
  color: rgba(0, 0, 0, 1);
  }

.sorting-degree-item a:active,
.sorting-degree-item-current a,
.sorting-degree-item-current a:hover {
  color: rgba(129, 179, 210, 1);
  }

.catalog-list {
  margin: 0;
  padding: 0;
  list-style: none;
  }

.catalog-item {
  display: flex;
  box-sizing: border-box;
  padding: 30px 72px;

  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(229, 229, 229, 1);
  }

.catalog-item:last-child {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(229, 229, 229, 1);
  }

.catalog-item-img {
  order: -1;
  margin: 0 30px 0 0;
  }

catalog-item-img img {
  width: 135px;
  height: 90px;
  }

.catalog-item h4 {
  margin: -3px 0 6px 0;
  font-size: 21px;
  line-height: 26px;

  color: rgba(0, 0, 0, 1);
  }

.catalog-item-caption a {
  color: rgba(0, 0, 0, 1);
  }

.catalog-item-caption a:hover,
.catalog-item-caption a:focus {
  color: rgba(129, 179, 210, 1);
  }

.catalog-item-caption a:active {
  color: rgba(0, 0, 0, 0.3);    
  }

.catalog-item p {
  margin-top: 0;
  margin-bottom: 0;
  }

.catalog-item-type, 
.catalog-item-price {
  display: inline-block;
  margin-right: 4px;
  margin-bottom: 16px;
  width: 110px;

  vertical-align: middle;
  }

.button-info, 
.button-reserve {
  padding: 3px 17px 4px 17px;
  }

.button-info {
  margin-right: 3px;
  }

.button-reserve {
  background-color: rgba(118, 99, 87, 1);
  }

.button-reserve:hover,
.button-reserve:focus {
  background-color: rgba(96, 78, 67, 1);  
  }

.button-reserve:active {
  background-color: rgba(80, 62, 51, 1);  
  }

.catalog-item-rate {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
  height: 90px;
  }

.catalog-item-rate-stars {
  width: 110px;
  height: 17px;
  background-color: rgba(255, 255, 255, 0);
  }

.s5 {
  background-image: 
    url("../img/star.svg"),
    url("../img/star.svg"),
    url("../img/star.svg"),
    url("../img/star.svg"),
    url("../img/star.svg");
  background-position: 0 0, 22px 0, 44px 0, 68px 0, 90px 0;
  background-repeat: no-repeat;
  }

.s4 {
  background-image:
    url("../img/star.svg"),
    url("../img/star.svg"),
    url("../img/star.svg"),
    url("../img/star.svg");
  background-position: 22px 0, 44px 0, 68px 0, 90px 0;
  background-repeat: no-repeat;
  }

.s3 {
  background-image:
    url("../img/star.svg"),
    url("../img/star.svg"),
    url("../img/star.svg");
  background-position: 44px 0, 68px 0, 90px 0;
  background-repeat: no-repeat;
  }

.s2 {
  background-image:
    url("../img/star.svg"),
    url("../img/star.svg");
  background-position: 68px 0, 90px 0;
  background-repeat: no-repeat;
  }

.s1 {
  background-image:
    url("../img/star.svg");
  background-position: 90px 0;
  background-repeat: no-repeat;
  }

.catalog-item-rate-text {
  padding: 3px 0;
  text-align: center;

  background-color: rgba(242, 242, 242, 1);
  }

.main-footer {
  color: rgba(0, 0, 0, 1);  
  }

.main-footer .container {
  display: flex;
  justify-content: space-between;
  padding: 35px 72px;
  }

.footer-contacts,
.footer-copyright {
  margin: 0;
  width: 240px;

  text-align: center;
  }

.footer-contacts {
  padding-top: 10px;

  font-size: 21px;
  line-height: 26px;
  }

.footer-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 150px;
  margin: 0;
  padding: 0;
  list-style: none;
  }

.footer-social li {
  margin: 0 3px 6px 3px;
  }

.footer-social li:nth-child(3n+1) {
  margin-left: 0;
  }

.footer-social li:nth-child(3n) {
  margin-right: 0;
  }

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 46px;
  height: 48px;

  color: rgba(255, 255, 255, 1);

  background-color: rgba(129, 179, 210, 1);
  }

.social-button:hover,
.social-button:focus {
  background-color: rgba(102, 158, 192, 1);
  }

.social-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: rgba(84, 150, 189, 1);
  }

.footer-copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  }

.footer-copyright a {
  margin: 0 30px 0 8px;
  width: 115px;
  height: 41px;

  color: rgba(35, 31, 32, 1);
  }

.footer-copyright a:hover,
.footer-copyright a:focus {
  color: rgba(129, 179, 210, 1);
  }

.footer-copyright a:active {
  color: rgba(189, 187, 188, 1);
  }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

  border: 0;
  }
